.BunchOfProducts .Table {
    flex-grow: 5;
    margin-left: 2%;
    max-width: 70%;
    border: 3px solid black;
    border-collapse: collapse;
}

.BunchOfProducts .Cell {
    vertical-align: middle;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

.BunchOfProducts .Row {
    border: 3px solid black;
}

.BunchOfProducts .Text {
    font-family: Arial, sans-serif;
    font-size: large;
}

.BunchOfProducts .Image {
    width: 100px;
    height: 100px; 
}

.BunchOfProducts .ColumnNames {
    font-family: Arial, sans-serif;
    font-size: large;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.BunchOfProducts .ToCenter {
    text-align: center;
}

.BunchOfProducts .Flex {
    display: flex;
    padding: 0 5px;
}

.BunchOfProducts .ProductCard
{
    flex-grow: 5;
    margin: 0 5px;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 40%;
}

.BunchOfProducts .ImageProductCard
{
    width: 250px;
    height: 250px; 
}

.BunchOfProducts .FixedPosition 
{
    position: fixed;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    width: 25%;
    margin-right: 2%;
}

.BunchOfProducts .Label
{
    float:left;
    width: 40%;
}

.BunchOfProducts .Input
{
    /* padding: 12px; */
}

.BunchOfProducts .FailedValidationMessage 
{
    font-family: monospace;
    color: red;
}

.BunchOfProducts .Form
{
    min-width: 25%;
    position: fixed;
}

.BunchOfProducts .Buttons
{
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

.BunchOfProducts .Wrapper
{
    float:left;
    width:100%;
    text-align: center;
}

.BunchOfProducts .BigMargin
{
    margin-left: 35px;
    margin-top: 20px;
}

.BunchOfProducts .LittleMargin
{
    margin: 5px;
}

.BunchOfProducts .Headings
{
    border:1px solid green;
    padding: 1em;
    font:80%/1 sans-serif;
    font-weight: 600;
}

.BunchOfProducts .Fieldset
{
    border: 1px solid green;
}