.BunchOfProducts .Table {
    flex-grow: 5;
    margin-left: 2%;
    max-width: 70%;
    border: 3px solid black;
    border-collapse: collapse;
}

.BunchOfProducts .Cell {
    vertical-align: middle;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

.BunchOfProducts .Row {
    border: 3px solid black;
}

.BunchOfProducts .Text {
    font-family: Arial, sans-serif;
    font-size: large;
}

.BunchOfProducts .Image {
    width: 100px;
    height: 100px; 
}

.BunchOfProducts .ColumnNames {
    font-family: Arial, sans-serif;
    font-size: large;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.BunchOfProducts .ToCenter {
    text-align: center;
}

.BunchOfProducts .Flex {
    display: flex;
    padding: 0 5px;
}

.BunchOfProducts .ProductCard
{
    flex-grow: 1;
    margin: 0 5px;
    /* margin-left: 2%;
    margin-right: 2%; */
    max-width: 40%;
}

.BunchOfProducts .ImageProductCard
{
    width: 200px;
    height: 200px; 
}

.BunchOfProducts .FixedPosition 
{
    position: fixed;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}

.BunchOfProducts .Label
{
    float:left;
    width: 30%;
    /* padding: 12px 12px 12px 0; */
    /* display: inline-block; */
}

.BunchOfProducts .Input
{
    /* padding: 12px; */
}

.BunchOfProducts .FailedValidationMessage 
{
    font-family: monospace;
    color: red;
}